<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>

<body>
    <section class="section">
        <div id="app" class="container">
            <h1 class="title">
                Bookmarks
            </h1>
            <div class="columns">
                <div class="column is-half">
                    <input class="input" placeholder="Category" v-model="newBookmark.category">
                </div>
            </div>
            <div class="columns">
				<div class="column is-half">
					<input class="input" placeholder="Name" v-model="newBookmark.name" />
			    </div>
			</div>
            <div class="columns">
                <div class="column">
                    <input class="input" type="url" placeholder="Insert bookmark" v-model="newBookmark.url">
                </div>
                <div class="column">
                    <button class="button" v-on:click="addBookmark()">New</button>
                </div>
            </div>   
            <ul id="bookmarks" v-for="(item, index) in sortedBookmarks">
                <li>
                    <a v-bind:href="item.url" target="_blank" class="has-tooltip-bottom" v-bind:data-tooltip="item.category">{{ item.name ? item.name : item.url }}</a>
                    <a class="delete" v-on:click="deleteBookmark(index)"></a>
                </li>
            </ul>
        </div>
    </section>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                bookmarks: [],
                newBookmark: {}
            },
            computed: {
                sortedBookmarks: function() {
                    function compare(a, b) {
                        if (a.category !== undefined && b.category !== undefined && a.category != b.category) {
                            return a.category.localeCompare(b.category);
                        } else if (a.name !== undefined && b.name !== undefined) {
                            return a.name.localeCompare(b.name);
                        } else {
                            return a.url.localeCompare(b.url);
                        }
                    }

                    return this.bookmarks.sort(compare);
                }
            },
            mounted: function () {
                 if (localStorage["bookmarks"]) {
                    this.bookmarks = JSON.parse(localStorage["bookmarks"]);
                } else {
                    localStorage.setItem("bookmarks", []);
                }
            },
            methods: {
                addBookmark: function () {
                    this.bookmarks.push(Object.assign({}, this.newBookmark));
                    localStorage.setItem("bookmarks", JSON.stringify(this.bookmarks));
                },
                deleteBookmark: function (index) {
                    this.bookmarks.splice(index, 1);
                    localStorage.setItem("bookmarks", JSON.stringify(this.bookmarks));
                }
            }
        });


    </script>
</body>

</html>
