<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.23.0/dist/sweetalert2.min.css">

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sjcl@1.0.8/sjcl.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.12.2/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.23.0/dist/sweetalert2.all.min.js"></script>

</head>

<body>
    <section class="section">
        <div id="app" class="container">
            <h1 class="title">
                Bookmarks
            </h1>
            <div class="columns">
                <div class="column is-half">
                    <input class="input" placeholder="Category" v-model="newBookmark.category">
                </div>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <input class="input" placeholder="Name" v-model="newBookmark.name" />
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <input class="input" type="url" placeholder="Insert bookmark" v-model="newBookmark.url">
                </div>
                <div class="column">
                    <button class="button" v-on:click="addBookmark()">New</button>
                </div>
            </div>
            <ul id="bookmarks" v-for="(item, index) in sortedBookmarks">
                <li>
                    <a v-bind:href="item.url" target="_blank" class="has-tooltip-bottom"
                        v-bind:data-tooltip="item.category">{{ item.name ? item.name : item.url }}</a>
                    <a class="delete" v-on:click="deleteBookmark(index)"></a>
                </li>
            </ul>
        </div>
    </section>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                bookmarks: [],
                newBookmark: {},
                settings: null
            },
            computed: {
                sortedBookmarks: function () {
                    function compare(a, b) {
                        [a, b].forEach(function (obj) {
                            ['category', 'name', 'url'].forEach(item => {
                                if (obj[item] === undefined) {
                                    obj[item] = '';
                                }
                            });
                        });
                        return a.category.localeCompare(b.category) || a.name.localeCompare(b.name) || a.url.localeCompare(b.url);
                    }

                    return this.bookmarks.sort(compare);
                }
            },
            mounted: function () {
                if (localStorage["settings"]) {
                    this.settings = localStorage["settings"];
                    this.download();
                } else {
                    Swal.fire({
                        title: 'Enter your json settings',
                        input: 'text',
                        inputPlaceholder: 'Enter your json settings',
                        showCancelButton: false,
                        showCloseButton: false,
                        allowOutsideClick: false,
                        inputValidator: (value) => {
                            if (!value) {
                                return 'Settings cannot be empty!'
                            }
                        },
                        inputAttributes: {
                            autocapitalize: 'off',
                            autocorrect: 'off'
                        }
                    }).then((result) => {
                        this.settings = JSON.parse(result.value);
                        localStorage.setItem("settings", this.settings);

                        this.download();
                    });
                }

                
            },
            methods: {
                addBookmark: function () {
                    this.bookmarks.push(Object.assign({}, this.newBookmark));
                    localStorage.setItem("bookmarks", sjcl.encrypt(this.password, JSON.stringify(this.bookmarks)));
                    this.upload();
                },
                deleteBookmark: function (index) {
                    this.bookmarks.splice(index, 1);
                    localStorage.setItem("bookmarks", scjl.decrypt(JSON.stringify(this.bookmarks)));
                    this.upload();
                },
                download: function () {
                    axios.get(this.settings.url, {
                        auth: this.settings.credentials,
                        headers: {
                            'Authorization': `Basic ${btoa(this.settings.credentials.username + ':' + this.settings.credentials.password)}`,
                        }
                    }).then((response) => {
                        this.bookmarks = response.data;
                        localStorage.setItem("bookmarks", this.bookmarks);
                        this.$forceUpdate();
                    }).catch((error) => {
                        Swal.fire({ icon: 'error', text: JSON.stringify(error) });
                    });

                    if (localStorage["bookmarks"]) {
                        this.bookmarks = JSON.parse(sjcl.decrypt(this.password, localStorage["bookmarks"]));
                    } else {
                        localStorage.setItem("bookmarks", sjcl.decrypt(this.password, []));
                    }
                },
                upload: function () {
                    axios.put(this.settings.url, sjcl.encrypt(this.password, JSON.stringify(this.bookmarks)), {
                    auth: this.settings.credentials,
                    headers: {
                        'Authorization': `Basic ${btoa(settings.credentials.username + ':' + settings.credentials.password)}`,
                    }
                }).then((response) => {

                }).catch((error) => {
                    Swal.fire({ icon: 'error', text: JSON.stringify(error) });
                });
                }
            }
        });


    </script>
</body>

</html>